{% extends "universal.html" %}

{% block desc %}
<a href="/admin">Go back</a><br>
<br><br><br>
<h1>List of users:</h1>
<br>
<table style="width: 50%" class="table table-secondary table-striped table-hover">
	<tr>
		<th>Users</th>
	</tr>
	{% for user in users %}
	<tr>
		<td>{{user[0]}}</td>
	</tr>
	{% endfor %}
</table>
<br><br><br>
<form action="/admin/users" method="post">
	<p>Remove a user:</p>
	&nbsp
	<select name="user">
		<option value="" disabled selected>User</option>
		{% for user in users %}
		<option value="{{user[0]}}">{{user[0]}}</option>
		{% endfor %}
	</select>
	&nbsp
	<input type="submit" name="action" value="remove">
	<br>
</form>
<br>
<form action="/admin/users" method="post">
	<p>Watch user's activity</p>
	&nbsp
	<select name="user">
		<option value="" disabled selected>User</option>
		{% for user in users %}
		<option value="{{user[0]}}">{{user[0]}}</option>
		{% endfor %}
	</select>
	&nbsp
	<input type="submit" name="action" value="show activty">
	<br>
</form>
<br>
<table style="width: 50%" class="table table-secondary table-striped table-hover">
	<tr>
		<th>Activity</th>
		<th>Status</th>
	</tr>
	{% for activity, status in query %}
	<tr>
		<td>{{activity}}</td>
		<td>{{status}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}