{% extends "universal.html" %}

{% block desc %}
<a href="/">Go back</a><br>
<main class="form-signin">
	
	<form action="/signup" method="post">
		<h1 align="center" class="h3 mb-3 fw-normal">Please sign up</h1>

		<div class="form-floating">
			<input id="username" placeholder="Username" type="text" name="username" class="form-control">
			<label for="username">Username</label>
		</div>
		<div class="form-floating">
			<input id="password" placeholder="Password" type="password" name="password" class="form-control">
			<label for="password">Password</label>
			<div id="passwordHelpBlock" class="form-text">Password must be atleast 7 characters long</div>
		</div>
		<div class="form-floating">
			<input id="confirmpassword" placeholder="Confirm password" type="password" name="confirmpassword" class="form-control">
			<label for="confirmpassword">Confirm password</label>
		</div>
		
		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
	</form>
	<p align="center">{{message}}</p>
	<a href="/login"> <p align="center">Already have an account?</p> </a>
</main>

{% endblock %}
